@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
  /* margin: 0; */
  /* overflow: hidden; */
  font-family: 'Open Sans', sans-serif;
  /* color: #555; */
  
}

#wrapper-body{
    width: 60%;

    margin: auto;
    padding: 25px;
    border-radius: 7px;

    background-color: #fafafa;
    text-align: center;
    /* box-shadow: 0 1px 1px 1px; */
}

.bg {
  height: 110vh;
  /* width: 110%; */
  position: absolute;
/*   background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
  background-size: cover;
  filter: blur(4px);
  z-index: 0;
}

.card {
  margin: auto;
  /* height: 500px; */
  width: 500px;
  background-color: white;
  position: relative;
  /* z-index: 1; */
  
}
.post-img{
    margin-top: 40px;
    position: relative;
    margin: auto;
    width: 100%;
    height: 200px;

}
 

.top {
  height: 42%;
  width: 100%;
  /* background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
  background-size: cover;
  background-color: lightcyan;
}

.category {
  background-color: orange;
  width: 100px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 1px;
}

h2 {
  padding: 22px 22px 0;
}

p {
  font-size: 18px;
  padding: 0 22px;
  line-height: 24px;
}

.intro {
  width: 85%;
}

a:link,
a:visited {
  text-decoration: none;
  
}

a:hover {
  color: orange;
  transition: .3s;
}

.author {
 display: flex;
 align-items: center;
 /* flex-direction: column; */
/* float: left; */
}

.profile {
  /* background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); */
  background-image: url(https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 36px;
  width: 36px;
  margin: 10px 0 10px 22px;
  display: flex;
  flex-direction: column;
}

.name {
  padding-left: 10px;
  cursor: pointer;
  font-weight: 300;
}

.name a {
  font-weight: 400;
  color: orange;
}

.info {
  display: flex;
  color: #999;
  font-size: 14px;
  margin-top: 8px;
  padding-left: 0;
}

.info a { cursor: pointer; }

ion-icon {
  height: 20px;
  width: 20px;
  display: flex;
  padding: 10px 8px 0 22px;
}


.likes{
  border-radius: 800px;
  text-align: center;
  /* border:1px solid red; */
  /* background: floralwhite; */
  background-color: #fafafa;
  color: darkblue;
}

.like > #good:hover {
  border:2px solid red;
  background-color: cornflowerblue;
  
}


.add-comment{

  background-color: #fafafa;
  /* padding: 20px; */
  margin: auto

}