<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Taha not found</title>
  </head>
  <body>
    <center>
      <h1>404 Taha Not Found</h1>
    </center>
  </body>
</html> -->
{% load static %}

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>404</h1>
			<h2>Oops! Page Not Be Found</h2>
			<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
		<div class="register">
        <span id="register">lost? you can go -> <a routerLink="/home">Home</a></span>
      </div>
    </div>

	</div>

