{%extends 'layout/base.html'%}
{%block body_block %}

<div class="row">
    <div class="col-6 offset-3">
        <h1 class="alert text-center alert-secondary w-100 mt-3">Add New Post!</h1>
        <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" class="btn btn-primary form-control mb-3" />
            <input type="reset" class="btn btn-danger form-control" value="clear"/>
        </form>
    </div>
</div>
{% endblock %}