{%extends 'layout/base.html'%}
{%block body_block %}
{%load static%}
<div class="card">
  <img class="post-img" src="{{ post.image.url }}" />

  <div>
    <h2 class="text-center" style="color: crimson;">{{ post.title }}</h2>
    <div class="author">
      <div class="profile"></div>
      <div class="name">By <a>{{post.user}}</a></div> &nbsp;&nbsp;&nbsp;
      {% if user == post.user %}
      <a class="" href="{% url 'posts:edit' post.slug %}">Edit Post</a>
      {% endif %}
      {% if user.is_superuser and not post.user.is_staff %}
      <form method="POST" action="{% url 'users:promote' post.user.id %}">
        {% csrf_token %}
        <input type="hidden" name="slug" value="{{ post.slug }}" />
        <input type="submit" value="Promote" />
      </form>
      {% endif %}
    </div>

    <p class="intro">{{ post.content }}</p>
    <div class="info">

      {% if user.is_superuser and not post.user.is_superuser and not post.user.is_staff %}
      <form method="POST" action="{% url 'users:block' post.user.id %}">
        {% csrf_token %}
        <input type="hidden" name="slug" value="{{ post.slug }}" />
        <input type="submit" {% if post.user.is_active %} value="Block" {% else %} value="unblock" {% endif %} />
      </form>
      {% endif %}


      <span class="likes info" style="margin-left: 20px;">
        {% if user.is_authenticated %}
        {% if not is_liked %}
        <form method="POST" action="{% url 'posts:like' post.slug is_liked %}">
          {% csrf_token %}
          <button type="submit" style=" border-radius: 600px; border: none; background-color: #fafafa; ">
            <i class="far fa-thumbs-up"></i>
          </button>
        </form>

        {% else %}
        <form method="POST" action="{% url 'posts:like' post.slug is_liked %}">
          {% csrf_token %}
          <button id="bad" type="submit" style="border-radius: 600px; border: none; background-color: #fafafa;">
            <i class="far fa-thumbs-down"></i>
          </button>
        </form>
        {% endif %}
        {% endif %}
      </span>

      <ion-icon name="time"></ion-icon>
      <p class="info">{{ post.publish | timesince }}</p>
      <ion-icon name="chatboxes"></ion-icon>
      <p class="info">{{post.comments.all.count}} Comments</p>
      <div class="likes">
        <p class="info"> likes: {{ post.like_count }} </p>
      </div>

    </div>
  </div>




  <hr>

  <div class=" add-comment" style="width: 100%;">

    <form class="form" action="{% url 'comments:create' post.slug %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <div class="text-center">
        <input class="btn btn-sm btn-success" type="submit" value="Comment" />
      </div>
    </form>

    <hr />

    {% for comment in comments %}
    <div class="ml-3">
      <h5 class="badge badge-info p-2 ml-2">{{ comment.user.username }}</h5>
      <h5 class="badge badge-dark p-2">{{ comment.date | timesince }}</h5>
      <div class="content-post">{{ comment.content }}</div>
    </div>

    {% for reply in comment.replies.all %}
    <div class="replay ml-3">
      <div class="ml-3">
        <h5 class="badge badge-info p-1 ml-2">{{ reply.user.username }}</h5>
        <h5 class="badge badge-dark p-1">{{ reply.date | timesince }}</h5>
        <div class="content-post">{{ reply.content }}</div>
      </div>
    </div>
    {% endfor %}

    <div class="replay">
      <form action="{% url 'comments:create' post.slug %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="hidden" value="{{ comment.id }}" name="reply" />
      <div class="text-center" id="comment-post">
        <input class="btn btn-sm btn-success" type="submit" value="Comment" />
      
      </div>
      </form>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}